@model List<TP4_Album.Models.Figuritas>

<h1>Mi Álbum</h1>
<a asp-action="AbrirSobre"> Abrir Sobre</a>

<div class="album">
    @foreach(var figu in ViewBag.Album)
    {
        string color = figu.CantidadFU(figu.IdFigurita, 1)>0 ? "pegada":"vacia";
        <div class="figurita @color">
            <img src="@Url.Content("~/Imagen/" + figu.Foto)" />
            <h4>@figu.NombreJugador</h4>
            <p>@figu.Posicion</p>
            <p>N° @figu.NumCamiseta</p>
            <b>Cantidad: @figu.CantidadFU(figu.IdFigurita, 1)</b>
        </div>
    }
</div>